<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.Direction }}">
<head>
    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Sadiq Al-Aboudi">
    <meta name="description" content="{{ .Description }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:image" content="/image/all.png" />
    <meta property="og:image:alt" content="" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Description }}" />
    <meta name="twitter:url" content="?src=twitter" />
    <meta name="twitter:image:src" content="/image/logo.svg" />
    <meta name="twitter:image:alt" content="" />
    <link rel="icon" type="image/svg" href="/image/logo.svg" />
    {{ range .Translations }}
    <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    <!-- <link rel="manifest" href="/manifest.json" /> -->

    {{ $base := resources.Get "css/_base.css" }}
    {{ $index := resources.Get "css/_index.css" }}
    {{ if .IsHome}}
        {{ $style := slice $base $index | resources.Concat "css/main.css" | minify | fingerprint }}
        <style>
        {{ $style.Content | safeCSS }}
        </style>
    {{ else }}
        {{ $style := $base | minify | fingerprint }}
        <style>
        {{ $style.Content | safeCSS }}
        </style>
    {{ end }}
</head>
<body>
    {{ partial "header.html" . }}
    <main>{{ block "main" . }}{{ end }}</main>
    {{ partial "footer.html" . }}
</body>
</html>