<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.Direction }}">
<head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Sadiq Al-Aboudi">
    <meta name="description" content="{{ .Description }}" />
    <meta name="color-scheme" content="light dark">
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description | default .Site.Params.description }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/svg" href="/image/logo.svg" />
    {{ range .Translations }}
    <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ $reset := resources.Get "css/_reset.css" }}
    {{ $fonts := resources.Get "css/_fonts.css" }}
    {{ $base := resources.Get "css/_base.css" }}
    {{ $home := resources.Get "css/_home.css" }}
    {{ $pages := resources.Get "css/_pages.css" }}
    {{ $bundle := slice $reset $base $home $pages | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}">
</head>
<body>
    {{ partial "header.html" . }}
    <main>{{ block "main" . }}{{ end }}</main>
    {{ partial "footer.html" . }}
</body>
</html>