:root {
  --primary-bg: #0b111e;
  --secondary-bg: #172237;
  --primary: #64dfdf;
  --secondary: #caf0f8;
  --text-color: #f8f9fa;
  --text-muted: #94a3b8;
  --text-on-primary: #0b111e;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--primary-bg);
  color: var(--text-color);
  min-height: 100vh;
  min-height: 100dvb;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;
}

header {
  display: flex;
  background-color: var(--secondary-bg);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;

  & img {
    cursor: pointer;
    height: auto;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }

  & li,
  & a {
    font-weight: 500;
    font-size: 0.95rem;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease 0s;

    &:hover {
      color: var(--secondary);
    }
  }
}

.lang-switch {
  padding: 8px 18px;
  background-color: var(--primary-bg);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary);
    color: var(--text-on-primary);
  }
}

footer {
  background-color: var(--secondary-bg);
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  header {
    padding: 1.5rem 10%;

    ul {
      gap: 2rem;
    }

    li,
    a {
      font-size: 1rem;
    }
  }
}
